server:
  port: 3000

spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/yappa}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  flyway:
    enabled: true

springdoc:
  swagger-ui:
    path: /docs
  api-docs:
    path: /v3/api-docs

logging:
  level:
    root: INFO
    com.yappa.clientes: INFO